html{
	position: relative;
}

body{
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #666;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section{
	min-height: 600px;
}

.portofolio{
	background-color: #eee;
}

.contact{
	min-height: 800px;
}